* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#clock {
    border: 1px solid black;
}

#start-timer, #reset-timer{
    display: block;
    margin: auto;
}

#number, #pomodoro-cycle {
    text-align: center;
}

.timeInput {
    display: inline-block;
    margin: auto;
    border: 1px solid blue;
}

.timeInputDiv {
    /*Centers the timeInput fields*/
    text-align: center;
}

.inputInstruction {
    text-align: center;
}

input {
    width: 15%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}